.git
.github
.ruff_cache
.mypy_cache
.pytest_cache
.tox
.nox
.cache

__pycache__
*.py[cod]
*.pyo
*.pyd

.env
.env.*
.venv
env
venv

build
dist
*.egg-info

Dockerfile
.dockerignore
schema.sql

*.log
*.db
*.db-journal
htmlcov
coverage.xml
.coverage
.coverage.*
